.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

header {
  position: fixed;
  top: 10%;
  font-size: 2em;
  color: var(--light-1);
  font-weight: 800;
  z-index: -1;
}

/* CLASS UTILITIES START */
.btn {
  border: none;
  padding: 1em 1.5em;
  color: black;
  cursor: pointer;
}

.btn:hover {
  filter: brightness(120%);
}

.done-btn {
  background: var(--primary);
  color: white;
}

.delete-btn {
  background: var(--danger);
  color: white;
}

.add-btn {
  background: var(--success);
  color: white;
}

.isDone {
  text-decoration: line-through;
}
/* CLASS UTILITIES END */

.todo-form {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 40rem;
  display: flex;
}

.todo__input {
  width: 100%;
  padding-left: 1em;
  border: none;
}

.todo__input:focus {
  outline: none;
  border:1px solid var(--dark);
}

.todo__list {
  width: 100%;
  max-width: 40rem;
  list-style: none;
  overflow: auto;
  padding-bottom: 4rem;
  color: var(--light);
  font-size: 1.5em;
}

.todo__list li {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.todo__list li:hover {
  background: var(--primary);
}

.todo__list li:hover .done-btn{
  background: var(--light);
  color: black;
}

.todo__buttons {
  margin-top: 1rem;
}

@media only screen and (min-width: 40rem) {
  .todo__list li {
    flex-flow: row;
    justify-content: space-between;
  }

  .todo__buttons {
    display: flex;
    margin: 0 0 0 1rem;
  }
}