header {
  font-size: 2em;
  color: var(--light);
  font-weight: 800;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.isDone {
  text-decoration: line-through;
}
/* CLASS UTILITIES START */
.btn {
  border: none;
  padding: 1em 1.5em;
  color: black;
  cursor: pointer;
}

.btn:hover {
  filter: brightness(120%);
}

.done-btn {
  background: var(--primary);
  color: white;
}

.delete-btn {
  background: var(--danger);
  color: white;
}

.add-btn {
  background: var(--success);
  color: white;
}
/* CLASS UTILITIES END */


.todo-form {
  width: 80%;
  max-width: 25rem;
  display: flex;
  justify-content: space-around;
}

.todo__input {
  width: 100%;
  padding-left: 1em;
  border: none;
}

.todo__input:focus {
  outline: none;
  border:1px solid var(--dark);
}

.todo__list {
  margin-top: 5em;
  width: 80%;
  max-width: 30rem;
  list-style: none;
}

.todo__list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--light);
  font-size: 1.5em;
  padding: 1em;
}

.todo__list li:hover {
  background: var(--primary);
}

.todo__list li:hover .done-btn{
  background: var(--light);
  color: black;
}
