.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

header {
  position: fixed;
  top: 10%;
  font-size: 2em;
  color: var(--light);
  font-weight: 800;
  z-index: -1;
  animation: fadeOut 1s ease-out 2.5s forwards;
}

/* CLASS UTILITIES START */
.btn {
  border: none;
  padding: 1em 1.5em;
  color: black;
  cursor: pointer;
  transition: 0.3s ease-out;
}

.btn:hover {
  filter: brightness(120%);
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.20);
}

.btn--primary {
  background: var(--primary);
  color: var(--light);
}

.btn--danger {
  background: var(--danger);
  color: var(--light);
}

.btn--success {
  background: var(--success);
  color: var(--light);
}

.btn--transparent {
  background: none;
  color: var(--light);
}

.completed {
  text-decoration: line-through;
}
/* CLASS UTILITIES END */

/* TODO LIST START */
.todo-list {
  width: 100%;
  max-width: 40rem;
  list-style: none;
  overflow: auto;
  padding-bottom: 10rem;
  color: var(--light);
  font-size: 1.5em;
}

.todo-list li {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-bottom: 1px solid var(--primary);
}

.todo-list li:hover {
  background: var(--primary);
}

.todo__buttons {
  margin-top: 1rem;
}

.delete-btn {
  background: transparent;
  color: white;
}

.delete-btn:hover {
  background: var(--danger);
  color: var(--light);
}

/* BUTTONS HOVER */
.todo-list li:hover .done-btn{
  background: var(--success);
  color: var(--light);
}

.todo-list li:hover .undo-btn{
  background: var(--light);
  color: var(--dark);
}
/* TODO LIST END */

/* TODO NAV START */
.todo-nav {
  position: fixed;
  left: 0;
  bottom: 67px;
  width: 100%;
  max-width: 40rem;
}

.nav__icon {
  align-self: flex-end;
}

.nav__buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.nav__buttons > * {
  flex-basis: 100%;
}
/* TODO NAV END */

/* TODO FORM START */
.todo-form {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 40rem;
  display: flex;
}

.form__input {
  width: 100%;
  font-size: 1.2rem;
  padding-left: 1em;
  border: none;
}

.form__input:focus {
  outline: none;
  border: 1px solid var(--dark);
}

.add-btn {
  font-size: 1.2rem;
}
/* TODO FORM END */

@media only screen and (min-width: 40rem) {
  .todo-list li {
    flex-flow: row;
    justify-content: space-between;
  }

  .todo__buttons {
    display: flex;
    margin: 0 0 0 1rem;
  }

  .nav__buttons > * {
    flex-basis: auto;
  }
}

/* ANIMATIONS */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}