:root {
  --primary: rgb(71, 26, 129);
  --secondary: rgb(80, 62, 163);
  --dark: rgb(24, 23, 23);
  --light: rgb(238, 238, 238);
  --success: rgb(38, 151, 43);
  --danger: rgb(175, 43, 43);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: var(--secondary);
}